* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: hsl(0, 0%, 9%);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
  background-color: hsl(39, 50%, 25%);
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.start-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.board {
  background-color: green;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: auto;
  width: fit-content;
  background: radial-gradient(hsl(30, 50%, 30%), black);
  border: 1rem groove hsl(120, 50%, 25%);
}
.slot {
  background: radial-gradient(hsl(30, 15%, 30%), black);
  border: 0.5rem groove hsl(0, 50%, 25%);
  width: 15vmin;
  height: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.slot:hover {
  transform: scale(1.1);
}
.slot:active {
  transform: scale(1);
  background: radial-gradient(hsl(30, 15%, 15%), black);
}
.mole {
  background: radial-gradient(hsl(240, 50%, 10%), black);
  border: 0.5rem ridge black;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  transition: all 1s;
}

.gameover-section {
  padding-top: 1rem;
}

.hidden {
  /* display: none; */
  opacity: 0;
}
.striked {
  background: radial-gradient(white, hsl(0, 50%, 10%), white);
}
